.success{
    background-color: lightgreen;
    border: 1px solid green;
}

.error{
    background-color: lightcoral;
    border: 1px solid red;
}

.special-column{
    width: 150px;
}

.input-small{
    width: 75px;
    margin: 0 10px;
}
